n8n-workflows/alerts.json
{
  "name": "obs-alerts",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alerts",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-alerts",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://alertmanager:9093/api/v2/alerts",
        "options": {}
      },
      "id": "alertmanager-query",
      "name": "Alertmanager Query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "respond-alerts",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Alertmanager Query", "type": "main", "index": 0 }]]
    },
    "Alertmanager Query": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" }
}
